<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
       <h1>Dynamic Pages</h1>
       <img src="../image/download.jpg" alt="">
       <h2>Your Name is : {{name}}</h2>
       <h2>Your Address is : {{Address}}</h2> 

</body>
<script src="../js/app.js"></script>
</html>