.main-container{
    width: 100%;
    display: flex;
}
.navBarIcon{
    display: none;
    width: 10%;
    /* background-color: green; */
    height: 100vh;
    padding-left: 40px;
    padding-top: 15px;
    overflow: auto;
}
.listIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    color: black;
    height: 45px;
}
.navListIcon{
    width: 0%;
    margin-top: 10%;
    background-color: thistle;
}
.navBar{
    width: 23%;
    overflow: auto;
    /* background-color: blue; */
    height: 100vh;
    padding-left: 52px;
    padding-left: 50px;
    padding-top: 15px;
    position: sticky;
    top: 0;
}
.headHome{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 222;
}
.logoIcon{
    /* background-color: red; */
    color: rgb(29, 155, 240);;
    width: 19%;
    padding: 6px 8px;
    /* border-radius: 50%; */
}
.logoIcon:hover{
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
}
.navList{
    width: 0%;
    margin-top: 10% ;
    background-color: thistle;
}
.list{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    padding-left: 0;
}
.listIn{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    color: black;
    width: 185%;
    height: 45px;
}
.listIn:hover{
    cursor: pointer;
    background-color: lightgray;
    color: whitesmoke;
    border-radius: 25px ;
}
.sideImage{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1%;
}
.font{
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5%;
    color: black;
    margin-bottom: 0%;
}
.body-section{
    width: 78%;
    /* background-color: rebeccapurple; */
}
.body-section-homeHead{
    width: 65%;
    /* background-color: red; */
    /* height: 9vh; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-top: none;
}
.body-section-homeHead:hover{
    cursor: pointer;
}
.body-section-homeHead>p{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
}
.body-section-homeHead>i{
    margin-left: auto;
}
.moreIcon{
    width: 7%;
    padding: 6px 6px;
    border-radius: 50%;
}
.moreIcon:hover{
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}
.body-section-searchHead{
    width: 35%;
    /* background-color: yellow; */
    /* height: 9vh; */
    padding-top: 7px;
    padding-bottom: 7px;
}
.searchtwiter{
    width: 30%;
    border-bottom: 1px solid lightgray;
    /* background-color: blue; */
}
.searhfield{
    text-indent: 10%;
    border-radius: 20px !important;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.searhfield:focus{
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none !important; 
}
.searchIcon{
    position: absolute;
    top: 33%;
    left: 9%;
    color: lightgray;
}
.btn-primary{
    width: 180px;
    height: 40px;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 20px !important;
    font-size: 18px;
}
.btn-primary:focus{
    outline: 0;
    box-shadow: none !important; 
}
.listInUser{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    color: black;
    width: 170%;
    height: 70px;
}
.listInUser:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 20px ;
}
.body-section-body{
    /* background-color: red; */
    width: 65%;
}
.bodyHead{
    width: 100%;
    /* height: 15%; */
    /* background-color: yellow; */
    border: 1px solid lightgray;
}
.what-happened:hover{
    cursor: pointer;
}
.what-happened{
    display: flex;
    align-items: center;
}
/* .profilePage1{
    display: none;
    background-color: whitesmoke;
    width: 90%;
    position: absolute;
    bottom: 102%;
    left: 5%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 1%;
} */
.searhfield1{
    text-indent: 2%;
    height: 55px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none !important;
}
.searhfield1:focus{
    outline: 0;
    box-shadow: none !important; 
}
.line{
    width: 83%;
    margin-left: auto;
    margin-right: 2%;
}
.btnTweet{
    margin-left: 50% !important;
    width: 15% !important;
    margin-bottom: 2%;
}
.moreProfileIcon{
    width: 7%;
    padding: 6px 8px;
    margin-left: auto;
    margin-right: 1%;
}
.moreProfileIcon:hover{
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
}
.img{
    width: 85%;
    border-radius: 15px;
    margin-left: 13%;
}
.icon{
    margin: 1%;
    color: lightblue;
}
.icon1{
    margin: 1%;
    margin-left: 17%;
    color: lightblue;
}
.body-section-searchbody{
    /* background-color: yellow; */
    width: 35%;
}
.trend{
    display: flex;
    align-items: center;
    width: 95%;
    padding-top: 4%;
}
.trend-for-you{
    background-color: lightgray;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    border-radius: 10px;
}
.listInTrend{
    width: 149%;
    height: 93px;
    display: flex;
    padding-right: 5%;
    align-items: center;
}
.listInTrend:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.fontTrend{
    font-weight: bold;
    font-family: inherit;
    font-size: 20px;
    margin-left: 3%;
    color: black;
    margin-bottom: 0%;
}
.fontuser{
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5%;
    color: black;
    margin-bottom: 0%;
}
.more{
    margin-left: auto; 
    margin-right: 5%;
}
.showMore{
    text-decoration: none;
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
}
.listInFollow{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    color: black;
    width: 119%;
    height: 70px;
    position: relative;
}
.listInFollow:hover{
    background-color:whitesmoke;
    cursor: pointer;
}
.listInFollow:hover > .profilePage{
    display: block;
}
.followImg{
    width: 70px;
    height: 65px;
    border-radius: 50%;
    margin-left: 3%;
}
.linkFollow{
    font-weight: 600;
    text-decoration: none;
    margin-left: 1%;
    margin-top: 6%;
    display: none !important;
}
.fontfollow{
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 2%;
    color: black;
    margin-bottom: 0%;
}
.bttn{
    margin-left: auto;
    margin-right: 5%;
    border-radius: 20px !important;
}
.profilePage{
    display: none;
    background-color: whitesmoke;
    width: 90%;
    position: absolute;
    bottom: 102%;
    left: 5%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 1%;
}
.profileFollowBtn{
    margin-left: auto;
    border-radius: 20px !important;
    height: max-content !important;
}
/* .followLink{
    display: none !important;
    text-decoration: none;
    background-color: black; 
    margin-left: 33%;
    font-weight: 600;
    font-family: inherit;
}*/
.bttn:focus{
    outline: 0;
    box-shadow: none !important; 
}
@media only screen and (max-width:992px){
    /* .mainHead{
        flex-direction: column;
    } */
    .body-section-homeHead{
        width: 100%;
    }
    .moreIcon:hover{
        background: none;
    }
    .logoIcon:hover{
        background: none;
    }
    .body-section-searchHead{
        display: none;
    }
    .body-section-searchbody{
        display: none;
    }
    .navBar{
        display: none;
    }
    .navBarIcon{
        display: block;
        width: auto;
        padding-left: 72px;
        padding-right: 70px;
        padding-top: 0;
    }
    .body-section{
        width: 90%;
    }
    .body-section-body{
        width: 100%;
    }
}
@media only screen and (max-width:768px){
    .navBarIcon{
        display: block;
        width: auto;
        padding-left: 52px;
        padding-right: 50px;
        padding-top: 0;
    }
}
@media only screen and (max-width:576px){
    .navBarIcon{
        display: block;
        width: auto;
        padding-left: 32px;
        padding-right: 30px;
        padding-top: 0;
    }
    .btnTweet{
        margin-left: 41% !important;
        width: 20% !important;
    }
}
@media only screen and (max-width:425px){
    .body-section-homeHead{
        padding-right: 25px;
    }
    .btnTweet{
        margin-left: 21% !important;
        width: 28% !important;
    }
    .moreProfileIcon {
        margin-right: 8% !important;
    }
    .icon1 {
        margin-left: 4% !important;
    }
}
@media only screen and (max-width:1024px){
    .listInTrend{
        width: 117%;
        height: 93px;
        display: flex;
        padding-right: 10%;
        align-items: center;
    }
    .listInTrend:hover{
        background: none;
    }
    .logoIcon:hover{
        background: none;
    }
    .moreIcon:hover{
        background: none;
    }
    .navBar{
        padding-left: 20px;
    }
    .fontuser{
        margin-left: 2%;
    }
    .more{
        margin-right: 12%;
    }
    .bttn{
        display: none !important;
    }
    .linkFollow{
        display: block !important;
    }
    .listInFollow:hover{
        background: none;
    }
    .followImg{
        width: 90px;
        height: 75px;
    }
    .profilePage{
        display: none !important;
    }
    .headHome{
        position: sticky;
        top: -1% !important;
    }
    .icon1{
        margin-left: 13%;
    }
    .moreProfileIcon {
        margin-right: 3%;
    }
    .moreProfileIcon:hover{
        background: none;
    }
}

